@model SecondHand.Web.ViewModel.CreateAdViewModel;

<h1>Create an Add</h1>

<form method="post" action="/ad/create">

  <div class="form-group">
    <label for="Categcategoryory">Category</label>
    <select class="form-control form-control-lg" id="category">
        @foreach (var item in Model?.Categories!)
        {
          <option value="@item.Id">@item.Name</option>
        }
    </select>
  </div>

  <div class="form-group">
    <label for="product">Product</label>
    <select class="form-control form-control-lg" id="product">
        @foreach (var item in Model?.Products!)
        {
          <option value="@item.Id">@item.Name</option>
        }
    </select>
  </div>

  <div class="form-group">
    <label for="mark">Mark</label>
    <select class="form-control form-control-lg" id="mark">
        @foreach (var item in Model?.Marks!)
        {
          <option value="@item.Id">@item.Name</option>
        }
    </select>
  </div>

  <div class="form-group">
    <label for="modelYear">Model Year</label>
    <input type="text" class="form-control form-control-lg" id="modelYear" aria-describedby="modelYearHelp" placeholder="Enter Model Year">
    <small id="modelYearHelp" class="form-text text-muted">Enter Model Year.</small>
  </div>

  <div class="form-group">
    <label for="subject">Subject</label>
    <input type="text" class="form-control form-control-lg" id="subject" aria-describedby="subjectHelp" placeholder="Enter Subject">
    <small id="subjectHelp" class="form-text text-muted">Enter Subject.</small>
  </div>

  <div class="form-group">
    <label for="price">Price</label>
    <input type="text" class="form-control form-control-lg" id="price" aria-describedby="priceHelp" placeholder="Enter Price">
    <small id="priceHelp" class="form-text text-muted">Enter price.</small>
  </div>

  <div class="form-group">
    <label for="priceCurrency">Price Currency</label>
    <input type="text" class="form-control form-control-lg" id="priceCurrency" aria-describedby="priceCurrencyHelp" placeholder="Enter Price Currency">
    <small id="priceCurrencyHelp" class="form-text text-muted">Enter Price Currency.</small>
  </div>

  <div class="form-group">
    <label for="state">State</label>
    <input type="text" class="form-control form-control-lg" id="state" aria-describedby="stateHelp" placeholder="Enter State">
    <small id="stateHelp" class="form-text text-muted">Enter State.</small>
  </div>

  <div class="form-group">
    <label for="city">City</label>
    <input type="text" class="form-control form-control-lg" id="city" aria-describedby="cityHelp" placeholder="Enter City">
    <small id="cityHelp" class="form-text text-muted">Enter City</small>
  </div>

  <div class="form-group">
    <label for="country">Country</label>
    <input type="text" class="form-control form-control-lg" id="country" aria-describedby="countryHelp" placeholder="Enter Country">
    <small id="countryHelp" class="form-text text-muted">Enter Country</small>
  </div>


  <button type="submit" class="btn btn-primary">Create and Add</button>
</form>